body #siteWrapper {
  h1, h2 {
    font-family:'GT-Super-Reg', serif;
    letter-spacing: -.025em;
  }
  h3, h4 {
    font-family: 'nimbus-sans-extended', sans-serif;
    letter-spacing: .15em;
  }
  p {
    font-family: 'Maison-Book', sans-serif;
    letter-spacing: 0;
  }
  .sqs-block-button-container {
    a {
      font-family: 'nimbus-sans',sans-serif;
      letter-spacing: .050em;
    }
  }

  #section-hero {
    /*Video*/
    .sqs-block.video-block.sqs-block-video {
      .sqs-block-content {
        height: 100%;
        .intrinsic {
          height: 100%;
          .embed-block-wrapper {
            height: 100%;
            .sqs-native-video {
              height: 100%;
              .native-video-player {
                height: 100%;
                padding-top: 0;
              }
            }
          }
        }
      }
    }
    .video-player .plyr video {
      object-fit: cover;
    }
    /* Left Col Content */
    h1 {
      font-size:4.427vw;
      line-height:1em !important;
    }
    h4 {
      font-size:0.938vw;
      font-weight: 700;
      line-height:1.15em !important;
      text-transform: uppercase;
    }
    p {
      text-transform: none;
      font-weight: 400;
    }
     a.sqs-block-button-element {
      font-size:clamp(15px, 1.042vw, 22px);
      font-weight:700;
      padding: 0;
     }
  }

  #stats-section {
    h2 {
      font-size:4.427vw;
    }
    h4 {
      font-size:0.833vw;
      font-weight: 700;
    }
    [data-sqsp-block="shape"] {
      --shape-block-background-color: transparent;
      border-right:1px solid #E2E2E4;
    }    
  }
}
