body #siteWrapper main#page {
  --tweak-line-block-line-color:#E2E2E4;
  h1, h2, pre, code {
    font-family:'GT-Super-Reg', serif;
    letter-spacing: -.025em;
  }
  h3, h4, .accordion-item__title {
    font-family: 'nimbus-sans-extended', sans-serif;
    letter-spacing: .15em;
  }
  p {
    font-family: 'Maison-Book', sans-serif;
    letter-spacing: 0;
  }
  .sqs-block-button-container {
    a {
      font-family: 'nimbus-sans',sans-serif;
      letter-spacing: .050em;
      padding: .5rem 0 !important;
    }
  }

  #section-hero {
    /*Video*/
    .sqs-block.video-block.sqs-block-video {
      .sqs-block-content {
        height: 100%;
        .intrinsic {
          height: 100%;
          .embed-block-wrapper {
            height: 100%;
            .sqs-native-video {
              height: 100%;
              .native-video-player {
                height: 100%;
                padding-top: 0;
              }
            }
          }
        }
      }
    }
    .video-player .plyr video {
      object-fit: cover;
    }
    /* Left Col Content */
    h1 {
      font-size:4.427vw;
      line-height:1em !important;
    }
    h4 {
      font-size:0.938vw;
      font-weight: 700;
      line-height:1.15em !important;
      text-transform: uppercase;
    }
    p {
      text-transform: none;
      font-weight: 400;
    }
     a.sqs-block-button-element {
      font-size:clamp(15px, 1.042vw, 22px);
      font-weight:700;
      padding: 0;
     }
  }

  #stats-section {
    h2 {
      font-size:4.427vw;
    }
    h4 {
      font-size:0.833vw;
      font-weight: 700;
    }
    [data-sqsp-block="shape"] {
      --shape-block-background-color: transparent;
      border-right:1px solid #E2E2E4;
    }    
  }

  #the-team {
    h4 {
      font-weight: 700;
      font-size: 1.302vw;
      line-height: 1em !important;
      text-transform: uppercase;
    }
    h2 {
      font-size:4.427vw;
      font-weight: 400;
      line-height:1em !important;
    }
    p {
      text-transform: none;
      font-weight: 400;
    }
    a {
      color:#242424;
    }
  }

  #team-wrapper {
    .sqs-block-html .sqs-html-content {
      padding:0 1.563vw;
      display: flex;
      flex-wrap: wrap;
      gap: 0.625vw;
    }
    h4 {
      font-weight: 700;
      font-size: 1.302vw;
      line-height: 1em !important;
      text-transform: uppercase;
      margin:0;
      width: 100%;
    }
    p {
      font-size:0.938vw;
      text-transform: none;
      font-weight: 400;
      margin:0;
    }
  }

  #the-difference {
    h2 {
      font-size:2.865vw;
      font-weight: 400;
      line-height: 1em !important;
    }
    h3 {
      font-weight: 700;
      font-size: 1.302vw;
      line-height: 1em !important;
      text-transform: uppercase;
    }
    h4 {
      font-weight: 700;
      font-size: 1.042vw;
      line-height: 1em !important;
      text-transform: uppercase;
    }
    p {
      text-transform: none;
      font-weight: 400;
      font-size:1.302vw;
    }
    .fe-block-yui_3_17_2_1_1773075180429_1476049 {
      grid-column-end: 5 !important;
      .sqs-block-content {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    }
    .sqs-html-content {
      pre {
        code {
          font-style: normal;
          font-size:2.865vw;
          color:#CE4B2C;
        }
      }
    }
  }

  #faq-section {
    h2 {
      font-size: 5.208vw;
      line-height: 1em !important;
    }
    h4 {
      text-transform: uppercase;
      font-size: 1.302vw;
      line-height: 1em !important;
      font-weight: 700;
    }
    p {
      font-size: 1.563vw;
      font-weight: 400;
      text-transform: none;
    }
    span.accordion-item__title {
      color: #FFFAEF;
      font-size: 1.042vw;
    }
    .accordion-item__dropdown {
      .accordion-item__description {
        max-width: 100% !important;
        p {
          font-size: 0.938vw;
        }
      }
    }
    .sqs-block-accordion {
      .accordion-icon-container {
        max-width: 3.177vw !important;
        max-height: 3.177vw !important;
        padding: 0.885vw;
        border: 1px solid #FFFAEF;
        transition: all .5s ease;
        &>*{
          position: relative;
        }
      }
      .accordion-item[data-is-open="true"] {
        .accordion-icon-container {
          transform: rotateZ(45deg);
        }
        .plus {
          transform: rotate(45deg);
        }
        .plus__vertical-line {
          transform: rotate(90deg);
        }
      }
    }
  }
}
