body {
  background: #E6DED0;
}

body #siteWrapper main#page {
  --tweak-line-block-line-color:#E2E2E4;
}
body #siteWrapper main#page h1, body #siteWrapper main#page h2, body #siteWrapper main#page pre, body #siteWrapper main#page code {
  font-family: "GT-Super-Reg", serif;
  letter-spacing: -0.025em;
}
body #siteWrapper main#page h3, body #siteWrapper main#page h4, body #siteWrapper main#page .accordion-item__title {
  font-family: "nimbus-sans-extended", sans-serif;
  letter-spacing: 0.15em;
}
body #siteWrapper main#page p {
  font-family: "Maison-Book", sans-serif;
  letter-spacing: 0;
}
body #siteWrapper main#page .sqs-block-button-container a {
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: 0.05em;
  padding: 0.5rem 0 !important;
}
body #siteWrapper main#page #section-hero {
  /*Video*/
}
body #siteWrapper main#page #section-hero .sqs-block.video-block.sqs-block-video .sqs-block-content {
  height: 100%;
}
body #siteWrapper main#page #section-hero .sqs-block.video-block.sqs-block-video .sqs-block-content .intrinsic {
  height: 100%;
}
body #siteWrapper main#page #section-hero .sqs-block.video-block.sqs-block-video .sqs-block-content .intrinsic .embed-block-wrapper {
  height: 100%;
}
body #siteWrapper main#page #section-hero .sqs-block.video-block.sqs-block-video .sqs-block-content .intrinsic .embed-block-wrapper .sqs-native-video {
  height: 100%;
}
body #siteWrapper main#page #section-hero .sqs-block.video-block.sqs-block-video .sqs-block-content .intrinsic .embed-block-wrapper .sqs-native-video .native-video-player {
  height: 100%;
  padding-top: 0;
}
body #siteWrapper main#page #section-hero .video-player .plyr video {
  object-fit: cover;
}
body #siteWrapper main#page #section-hero {
  /* Left Col Content */
}
body #siteWrapper main#page #section-hero h1 {
  font-size: 4.427vw;
  line-height: 1em !important;
}
body #siteWrapper main#page #section-hero h4 {
  font-size: 0.938vw;
  font-weight: 700;
  line-height: 1.15em !important;
  text-transform: uppercase;
}
body #siteWrapper main#page #section-hero p {
  text-transform: none;
  font-weight: 400;
}
body #siteWrapper main#page #section-hero a.sqs-block-button-element {
  font-size: clamp(15px, 1.042vw, 22px);
  font-weight: 700;
  padding: 0;
}
body #siteWrapper main#page #stats-section h2 {
  font-size: 4.427vw;
}
body #siteWrapper main#page #stats-section h4 {
  font-size: 0.833vw;
  font-weight: 700;
}
body #siteWrapper main#page #stats-section [data-sqsp-block=shape] {
  --shape-block-background-color: transparent;
  border-right: 1px solid #E2E2E4;
}
body #siteWrapper main#page #the-team h4,
body #siteWrapper main#page #reviews h4,
body #siteWrapper main#page #packages-title-section h4 {
  font-weight: 700;
  font-size: 1.302vw;
  line-height: 1em !important;
  text-transform: uppercase;
}
body #siteWrapper main#page #the-team h3,
body #siteWrapper main#page #reviews h3,
body #siteWrapper main#page #packages-title-section h3 {
  font-size: 15.625vw;
}
body #siteWrapper main#page #the-team h2,
body #siteWrapper main#page #reviews h2,
body #siteWrapper main#page #packages-title-section h2 {
  font-size: 4.427vw;
  font-weight: 400;
  line-height: 1em !important;
}
body #siteWrapper main#page #the-team p,
body #siteWrapper main#page #reviews p,
body #siteWrapper main#page #packages-title-section p {
  text-transform: none;
  font-weight: 400;
}
body #siteWrapper main#page #the-team a,
body #siteWrapper main#page #reviews a,
body #siteWrapper main#page #packages-title-section a {
  color: #242424;
}
body #siteWrapper main#page #team-wrapper .sqs-block-html .sqs-html-content {
  padding: 0 1.563vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625vw;
}
body #siteWrapper main#page #team-wrapper h4 {
  font-weight: 700;
  font-size: 1.302vw;
  line-height: 1em !important;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
}
body #siteWrapper main#page #team-wrapper p {
  font-size: 0.938vw;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}
body #siteWrapper main#page #the-difference h2,
body #siteWrapper main#page #offering h2 {
  font-size: 2.865vw;
  font-weight: 400;
  line-height: 1em !important;
}
body #siteWrapper main#page #the-difference h3,
body #siteWrapper main#page #offering h3 {
  font-weight: 700;
  font-size: 1.302vw;
  line-height: 1em !important;
  text-transform: uppercase;
}
body #siteWrapper main#page #the-difference h4,
body #siteWrapper main#page #offering h4 {
  font-weight: 700;
  font-size: 1.042vw;
  line-height: 1em !important;
  text-transform: uppercase;
}
body #siteWrapper main#page #the-difference p,
body #siteWrapper main#page #offering p {
  text-transform: none;
  font-weight: 400;
  font-size: 1.302vw;
}
body #siteWrapper main#page #the-difference .fe-block-yui_3_17_2_1_1773075180429_1476049,
body #siteWrapper main#page #offering .fe-block-yui_3_17_2_1_1773075180429_1476049 {
  grid-column-end: 5 !important;
}
body #siteWrapper main#page #the-difference .fe-block-yui_3_17_2_1_1773075180429_1476049 .sqs-block-content,
body #siteWrapper main#page #offering .fe-block-yui_3_17_2_1_1773075180429_1476049 .sqs-block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body #siteWrapper main#page #the-difference .sqs-html-content pre code,
body #siteWrapper main#page #offering .sqs-html-content pre code {
  font-style: normal;
  font-size: 2.865vw;
  color: #CE4B2C;
}
body #siteWrapper main#page #faq-section h2 {
  font-size: 5.208vw;
  line-height: 1em !important;
}
body #siteWrapper main#page #faq-section h4 {
  text-transform: uppercase;
  font-size: 1.302vw;
  line-height: 1em !important;
  font-weight: 700;
}
body #siteWrapper main#page #faq-section p {
  font-size: 1.563vw;
  font-weight: 400;
  text-transform: none;
}
body #siteWrapper main#page #faq-section span.accordion-item__title {
  color: #FFFAEF;
  font-size: 1.042vw;
}
body #siteWrapper main#page #faq-section .accordion-item__dropdown .accordion-item__description {
  max-width: 100% !important;
}
body #siteWrapper main#page #faq-section .accordion-item__dropdown .accordion-item__description p {
  font-size: 0.938vw;
}
body #siteWrapper main#page #faq-section .sqs-block-accordion .accordion-icon-container {
  max-width: 3.177vw !important;
  max-height: 3.177vw !important;
  padding: 0.885vw;
  border: 1px solid #FFFAEF;
  transition: all 0.5s ease;
}
body #siteWrapper main#page #faq-section .sqs-block-accordion .accordion-icon-container > * {
  position: relative;
}
body #siteWrapper main#page #faq-section .sqs-block-accordion .accordion-item[data-is-open=true] .accordion-icon-container {
  transform: rotateZ(45deg);
  border-color: #CE4B2C;
}
body #siteWrapper main#page #faq-section .sqs-block-accordion .accordion-item[data-is-open=true] .plus {
  transform: rotate(45deg);
  color: #CE4B2C;
}
body #siteWrapper main#page #faq-section .sqs-block-accordion .accordion-item[data-is-open=true] .plus__vertical-line {
  transform: rotate(90deg);
}
body #siteWrapper main#page #offering h2 {
  font-size: 3.906vw;
}
body #siteWrapper main#page #offering h3 {
  font-size: 1.042vw;
  border: 1px solid #CE4B2C;
  padding: 0.35rem 0;
  letter-spacing: 0.05em;
  font-family: "nimbus-sans", sans-serif;
}
body #siteWrapper main#page #offering h4 {
  font: normal normal bold 1.042vw/1em "nimbus-sans";
  line-height: 1em !important;
  letter-spacing: 0.05em;
}
body #siteWrapper main#page #offering p.sqsrte-large {
  font-size: 0.938vw;
  font-weight: 400;
}
body #siteWrapper main#page #offering p.sqsrte-small {
  font-size: 0.833vw;
}
body #siteWrapper main#page #offering [data-shape-name=rectangle][data-blend-mode=lighten] {
  border-left: 9px solid #CE4B2C;
}
body #siteWrapper main#page #offering .sqs-html-content pre code {
  font: normal normal bold 1.823vw/1em "nimbus-sans";
  line-height: 1em !important;
  color: #CE4B2C;
}
body #siteWrapper main#page #packages-title-section h2 {
  font-size: 3.385vw;
}
body #siteWrapper main#page #basic-af-trigger-section,
body #siteWrapper main#page #bougie-af-trigger-section,
body #siteWrapper main#page #extra-af-trigger-section,
body #siteWrapper main#page #mu-edit-trigger-section {
  cursor: pointer;
  overflow: hidden;
}
body #siteWrapper main#page #basic-af-trigger-section [data-sqsp-shape-block-shape],
body #siteWrapper main#page #bougie-af-trigger-section [data-sqsp-shape-block-shape],
body #siteWrapper main#page #extra-af-trigger-section [data-sqsp-shape-block-shape],
body #siteWrapper main#page #mu-edit-trigger-section [data-sqsp-shape-block-shape] {
  transition: all 0.2s ease;
}
body #siteWrapper main#page #basic-af-trigger-section h2,
body #siteWrapper main#page #bougie-af-trigger-section h2,
body #siteWrapper main#page #extra-af-trigger-section h2,
body #siteWrapper main#page #mu-edit-trigger-section h2 {
  font-size: 4.427vw;
  line-height: 1em !important;
  transition: color 0.2s ease;
}
body #siteWrapper main#page #basic-af-trigger-section h3, body #siteWrapper main#page #basic-af-trigger-section h4,
body #siteWrapper main#page #bougie-af-trigger-section h3,
body #siteWrapper main#page #bougie-af-trigger-section h4,
body #siteWrapper main#page #extra-af-trigger-section h3,
body #siteWrapper main#page #extra-af-trigger-section h4,
body #siteWrapper main#page #mu-edit-trigger-section h3,
body #siteWrapper main#page #mu-edit-trigger-section h4 {
  font-weight: 700;
  font-size: 0.938vw;
  line-height: 1em !important;
  transition: color 0.2s ease;
  text-transform: uppercase;
}
body #siteWrapper main#page #basic-af-trigger-section p,
body #siteWrapper main#page #bougie-af-trigger-section p,
body #siteWrapper main#page #extra-af-trigger-section p,
body #siteWrapper main#page #mu-edit-trigger-section p {
  font-size: 1.042vw;
  font-weight: 300;
  transition: color 0.2s ease;
}
body #siteWrapper main#page #basic-af-trigger-section p.sqsrte-large,
body #siteWrapper main#page #bougie-af-trigger-section p.sqsrte-large,
body #siteWrapper main#page #extra-af-trigger-section p.sqsrte-large,
body #siteWrapper main#page #mu-edit-trigger-section p.sqsrte-large {
  font-size: 3.906vw;
  font-weight: 400;
  font-family: "GT-Super-Reg", serif;
  letter-spacing: -0.025em;
  transition: color 0.2s ease;
}
body #siteWrapper main#page #basic-af-trigger-section p.sqsrte-small,
body #siteWrapper main#page #bougie-af-trigger-section p.sqsrte-small,
body #siteWrapper main#page #extra-af-trigger-section p.sqsrte-small,
body #siteWrapper main#page #mu-edit-trigger-section p.sqsrte-small {
  font-family: "nimbus-sans-extended", sans-serif;
  font-size: 2.344vw;
  font-weight: 700;
  transition: color 0.2s ease;
}
body #siteWrapper main#page #basic-af-trigger-section [data-sqsp-shape-block-shape],
body #siteWrapper main#page #bougie-af-trigger-section [data-sqsp-shape-block-shape],
body #siteWrapper main#page #extra-af-trigger-section [data-sqsp-shape-block-shape],
body #siteWrapper main#page #mu-edit-trigger-section [data-sqsp-shape-block-shape] {
  border-bottom: 1px solid rgba(36, 36, 36, 0.1843137255);
}
body #siteWrapper main#page #basic-af-trigger-section.open-service,
body #siteWrapper main#page #bougie-af-trigger-section.open-service,
body #siteWrapper main#page #extra-af-trigger-section.open-service,
body #siteWrapper main#page #mu-edit-trigger-section.open-service {
  border-bottom-color: transparent;
}
body #siteWrapper main#page #basic-af-trigger-section.open-service h2, body #siteWrapper main#page #basic-af-trigger-section.open-service h4, body #siteWrapper main#page #basic-af-trigger-section.open-service p:not(.sqsrte-small),
body #siteWrapper main#page #bougie-af-trigger-section.open-service h2,
body #siteWrapper main#page #bougie-af-trigger-section.open-service h4,
body #siteWrapper main#page #bougie-af-trigger-section.open-service p:not(.sqsrte-small),
body #siteWrapper main#page #extra-af-trigger-section.open-service h2,
body #siteWrapper main#page #extra-af-trigger-section.open-service h4,
body #siteWrapper main#page #extra-af-trigger-section.open-service p:not(.sqsrte-small),
body #siteWrapper main#page #mu-edit-trigger-section.open-service h2,
body #siteWrapper main#page #mu-edit-trigger-section.open-service h4,
body #siteWrapper main#page #mu-edit-trigger-section.open-service p:not(.sqsrte-small) {
  color: #FFFAEF;
}
body #siteWrapper main#page #basic-af-trigger-section.open-service h2 span, body #siteWrapper main#page #basic-af-trigger-section.open-service h4 span, body #siteWrapper main#page #basic-af-trigger-section.open-service p:not(.sqsrte-small) span,
body #siteWrapper main#page #bougie-af-trigger-section.open-service h2 span,
body #siteWrapper main#page #bougie-af-trigger-section.open-service h4 span,
body #siteWrapper main#page #bougie-af-trigger-section.open-service p:not(.sqsrte-small) span,
body #siteWrapper main#page #extra-af-trigger-section.open-service h2 span,
body #siteWrapper main#page #extra-af-trigger-section.open-service h4 span,
body #siteWrapper main#page #extra-af-trigger-section.open-service p:not(.sqsrte-small) span,
body #siteWrapper main#page #mu-edit-trigger-section.open-service h2 span,
body #siteWrapper main#page #mu-edit-trigger-section.open-service h4 span,
body #siteWrapper main#page #mu-edit-trigger-section.open-service p:not(.sqsrte-small) span {
  color: #FFFAEF;
}
body #siteWrapper main#page #basic-af-trigger-section.open-service h3 span,
body #siteWrapper main#page #bougie-af-trigger-section.open-service h3 span,
body #siteWrapper main#page #extra-af-trigger-section.open-service h3 span,
body #siteWrapper main#page #mu-edit-trigger-section.open-service h3 span {
  color: #CE4B2C;
}
body #siteWrapper main#page #basic-af-trigger-section.open-service p.sqsrte-large,
body #siteWrapper main#page #bougie-af-trigger-section.open-service p.sqsrte-large,
body #siteWrapper main#page #extra-af-trigger-section.open-service p.sqsrte-large,
body #siteWrapper main#page #mu-edit-trigger-section.open-service p.sqsrte-large {
  color: #CE4B2C;
}
body #siteWrapper main#page #basic-af-trigger-section.open-service [data-sqsp-shape-block-shape],
body #siteWrapper main#page #bougie-af-trigger-section.open-service [data-sqsp-shape-block-shape],
body #siteWrapper main#page #extra-af-trigger-section.open-service [data-sqsp-shape-block-shape],
body #siteWrapper main#page #mu-edit-trigger-section.open-service [data-sqsp-shape-block-shape] {
  background: #242424;
}
body #siteWrapper main#page #basic-af-open-section,
body #siteWrapper main#page #bougie-af-open-section,
body #siteWrapper main#page #extra-af-open-section,
body #siteWrapper main#page #mu-edit-open-section {
  height: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
body #siteWrapper main#page #basic-af-open-section .new,
body #siteWrapper main#page #bougie-af-open-section .new,
body #siteWrapper main#page #extra-af-open-section .new,
body #siteWrapper main#page #mu-edit-open-section .new {
  opacity: 1;
  transition: all 0.2s ease;
}
body #siteWrapper main#page #basic-af-open-section .new:hover,
body #siteWrapper main#page #bougie-af-open-section .new:hover,
body #siteWrapper main#page #extra-af-open-section .new:hover,
body #siteWrapper main#page #mu-edit-open-section .new:hover {
  opacity: 0;
}
body #siteWrapper main#page #basic-af-open-section h3,
body #siteWrapper main#page #bougie-af-open-section h3,
body #siteWrapper main#page #extra-af-open-section h3,
body #siteWrapper main#page #mu-edit-open-section h3 {
  opacity: 0.45;
  font-weight: 700;
  font-size: 0.833vw;
}
body #siteWrapper main#page #basic-af-open-section p,
body #siteWrapper main#page #bougie-af-open-section p,
body #siteWrapper main#page #extra-af-open-section p,
body #siteWrapper main#page #mu-edit-open-section p {
  font-size: 1.042vw;
  font-weight: 400;
}
body #siteWrapper main#page #basic-af-open-section p.sqsrte-small,
body #siteWrapper main#page #bougie-af-open-section p.sqsrte-small,
body #siteWrapper main#page #extra-af-open-section p.sqsrte-small,
body #siteWrapper main#page #mu-edit-open-section p.sqsrte-small {
  margin: 0.5rem 0;
  padding: 0 10px 0 0;
}
body #siteWrapper main#page #basic-af-open-section p.sqsrte-large,
body #siteWrapper main#page #bougie-af-open-section p.sqsrte-large,
body #siteWrapper main#page #extra-af-open-section p.sqsrte-large,
body #siteWrapper main#page #mu-edit-open-section p.sqsrte-large {
  font-size: 0.938vw;
  opacity: 0.45;
}
body #siteWrapper main#page #basic-af-open-section .sqs-block-horizontalrule hr,
body #siteWrapper main#page #bougie-af-open-section .sqs-block-horizontalrule hr,
body #siteWrapper main#page #extra-af-open-section .sqs-block-horizontalrule hr,
body #siteWrapper main#page #mu-edit-open-section .sqs-block-horizontalrule hr {
  background-color: #E2E2E4;
  margin-top: 0;
  opacity: 0.2;
}
body #siteWrapper main#page #basic-af-open-section a.sqs-button-element--secondary,
body #siteWrapper main#page #bougie-af-open-section a.sqs-button-element--secondary,
body #siteWrapper main#page #extra-af-open-section a.sqs-button-element--secondary,
body #siteWrapper main#page #mu-edit-open-section a.sqs-button-element--secondary {
  color: #FFFAEF;
  border-color: #CE4B2C;
  font-family: "nimbus-sans-extended", sans-serif;
  font-size: 0.938vw;
  font-weight: 700;
}
body #siteWrapper main#page #basic-af-open-section a.sqs-button-element--primary,
body #siteWrapper main#page #bougie-af-open-section a.sqs-button-element--primary,
body #siteWrapper main#page #extra-af-open-section a.sqs-button-element--primary,
body #siteWrapper main#page #mu-edit-open-section a.sqs-button-element--primary {
  background-color: #CE4B2C;
  color: #FFFAEF;
}
body #siteWrapper main#page #basic-af-open-section a.sqs-button-element--primary:hover,
body #siteWrapper main#page #bougie-af-open-section a.sqs-button-element--primary:hover,
body #siteWrapper main#page #extra-af-open-section a.sqs-button-element--primary:hover,
body #siteWrapper main#page #mu-edit-open-section a.sqs-button-element--primary:hover {
  color: #242424 !important;
}
body #siteWrapper main#page #basic-af-open-section.open-service,
body #siteWrapper main#page #bougie-af-open-section.open-service,
body #siteWrapper main#page #extra-af-open-section.open-service,
body #siteWrapper main#page #mu-edit-open-section.open-service {
  height: 100%;
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
